extends ./base

block content
  article
    div.recipe-list
      each recipe in recipes
        div.recipe-item.link-container
          amp-img.recipe-thumbnail(
            src=recipe.image.url alt=recipe.name
            width=120 height=120
          )
          .description
            h2= recipe.name
            p= recipe.description
          a(href=`${dashify(recipe.name)}.html`)
            span.link-spanner
